<div class="header">
    <div class="logoname">
        <img src="images/logosemfundo.png" alt="">
    </div>
    <div class="barrapesquisa">
        <!-- <form action="/resultados" method="get"> -->
            <!-- action="/resultados" é o URL para onde os dados do formulário serão enviados -->
            <!-- method="get" significa que os dados do formulário serão enviados como parte da URL -->
    
            <input type="text" id="search" name="q" placeholder="Pesquise por uma nota..." required>
            <!-- O atributo "required" faz com que o campo seja obrigatório -->
    
            <button id="botao__pesquisar" type="submit">Pesquisar</button>
            <!-- O botão submit envia o formulário quando clicado -->
        <!-- </form> -->
        <button id="botao__reexibir" type="submit">Reexibir</button>
    </div>
    
</div>