<div class="container_lembretes">
    <h3>NOTAS PRINCIPAIS</h3>
    <!-- <div id="lembrete-" class="conteudo_lembrete">

    
        <div class="titulo_lembrete">
            <p>Este é meu título! Este é meu título! Este é meu título! Este é meu título! </p>
        </div>

        <div class="hora_lembrete">
            <p>Em 27/11/2023 às 08:50h</p>
        </div>
    </div> -->
</div>